## Prepare Excel-file 'menu_items'

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
dataPath = r'C:\Users\gdawe2\OneDrive - GiGA\Mijn Documenten\Open Universiteit\Machine Learning\Opdracht\Data'

In [3]:
data = pd.read_csv(os.path.join(dataPath,'fixations_selections_menu.csv'))
data

,Trial,FixNr,TimeStampStart,TimeStampEnd,Start,End,Duration,Xloc,Yloc,Phase,Su,ROI,image,Image,Name,Category,selection,selection_cat
0,2,1,172950,173078,-47,81,129,199.0,511.3,Image,p1.asc,3,menu1.csv,1,background,Elsewhere,6_pieces_bargain_bucket,Menu_Item
1,2,2,173176,173310,179,313,135,559.5,502.0,Image,p1.asc,7,menu1.csv,1,image_food,Images,6_pieces_bargain_bucket,Menu_Item
2,2,3,173359,173497,362,500,139,640.3,179.6,Image,p1.asc,8,menu1.csv,1,title_bargain_bucket,Title,6_pieces_bargain_bucket,Menu_Item
3,2,4,173526,173698,529,701,173,569.7,88.4,Image,p1.asc,3,menu1.csv,1,background,Elsewhere,6_pieces_bargain_bucket,Menu_Item
4,2,5,173721,174063,724,1066,343,516.3,106.9,Image,p1.asc,2,menu1.csv,1,title_menu,Title,6_pieces_bargain_bucket,Menu_Item
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61702,11,97,4326566,4326776,20685,20895,211,448.0,553.7,Image,p9.asc,20,menu9.csv,9,mediterranean_veggie,Menu_Item,mediterranean_veggie,Menu_Item
61703,11,98,4326810,4327083,20929,21202,274,360.1,560.1,Image,p9.asc,20,menu9.csv,9,mediterranean_veggie,Menu_Item,mediterranean_veggie,Menu_Item
61704,11,99,4327106,4327259,21225,21378,154,321.0,516.7,Image,p9.asc,18,menu9.csv,9,tortilla_spring_rolls,Menu_Item,mediterranean_veggie,Menu_Item
61705,11,100,4327296,4327620,21415,21739,325,418.3,511.0,Image,p9.asc,38,menu9.csv,9,background,Elsewhere,mediterranean_veggie,Menu_Item
61706,11,101,4327650,4328118,21769,22237,469,403.6,551.1,MouseClicked,p9.asc,20,menu9.csv,9,mediterranean_veggie,Menu_Item,mediterranean_veggie,Menu_Item

In [37]:
def get_and_save_items():
    for ii in range(1,31):
        temp = list(data[(data['image']=='menu'+str(ii)+'.csv') & (data['Category']=='Menu_Item')]['Name'].unique())
        temp2 = list(data[(data['image']=='menu'+str(ii)+'.csv') & (data['selection_cat']=='Menu_Item')]['selection'].unique())
        items= list(set(temp+temp2))
        menu = ['menu'+str(ii)] * len(items)
        df = pd.DataFrame({'menu' : menu , 'items' : items})        
        if ii == 1: 
            df2 = df.copy()
        else:
            df2 = pd.concat([df2,df])
    df2 = df2.reset_index(drop=False)
    df2['index'] += 1
    df2.to_excel('menu_items0'+'.xlsx',index=False)
            
get_and_save_items()